# Created by .ignore support plugin (hsz.mobi)
### macOS template
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
company
.idea/
.vscode/
Java/out/
Java/leetcode/editor/cn/doc/
Java/leetcode/editor/cn/all.json
Java/leetcode/editor/cn/translation.json
Python/排序/
Python/搜索/
Python/easy/
Python/hard/
Python/middle/
